<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <header>SISTEMA VUELOS</header>
    <nav>
        <ul>
            <li><a href="http://localhost:57702/Home/Index">Home</a></li>
            <li><a href="http://localhost:57702/Vuelo/Index">Vuelos</a></li>
        </ul>
    </nav>
    <main>
        <div id="izq">
            @if (IsSectionDefined("ZonaEditableOp"))
            {
                @RenderSection("ZonaEditableOp")
            }
            else
            {
                <img src="https://www.ecestaticos.com/imagestatic/clipping/6fb/cd5/6fbcd51b2e01c1ca35c707276f862d7c/las-sorprendentes-razones-por-las-que-los-aviones-son-blancos.jpg?mtime=1622730418" />
                <img src="https://www.lavanguardia.com/files/image_948_465/uploads/2018/01/22/5fa4314cb1e8f.jpeg" />
                <img src="https://hipertextual.com/wp-content/uploads/2015/01/avion.jpg" />
            }
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <footer><div id="email">Info@vuelo.com</div></footer>
    </main>
    
</body>
</html>
