

<h1>Bienvenido al sistema Web de Vuelos</h1>
<h3>@ViewBag.Fecha</h3>
<p>@Html.ActionLink("Ver Vuelos", "Index", "Vuelo")</p>

@section ZonaEditableOp
{
    <img src="https://conceptodefinicion.de/wp-content/uploads/2014/03/ciudad.jpg" />
    <img src="https://www.caracteristicas.co/wp-content/uploads/2017/03/ciudad-3-e1565900111723.jpg" />
    <img src="https://s03.s3c.es/imag/_v0/770x420/0/a/1/600x400_La-ciudad-de-Tokio-con-el-monto-Fuji-al-fondo-iStock.jpg" />
}